.nav{
    background-color: rgb(51, 50, 50);
    font-family: sans-serif ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: white;
    margin: 20px;
}

.nav-links{
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}

a{
    color: white;
    margin:10px;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
}

button{
    color: white;
    background-color: deepskyblue;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}